<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/home"><i class="fas fa-globe-europe"></i> e-World</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-place-of-worship"></i> My place
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/train"><i class="fas fa-dumbbell"></i> Training</a>
      <a class="dropdown-item" href="/battle"><i class="fas fa-bomb"></i> Battle</a>
      <a class="dropdown-item" href="#"><i class="fas fa-city"></i> My Buildings</a>
      </div>
  </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fab fa-font-awesome-flag"></i> Community
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/users"><i class="fas fa-users"></i> Users</a>
      <a class="dropdown-item" href="/market"><i class="fas fa-shopping-basket"></i> Market</a>
      <a class="dropdown-item" href="#"><i class="fas fa-trophy"></i> Rank</a>
      </div>
  </li>
      <li class="nav-item">
        <a class="nav-link" href="/inbox"><i class="fas fa-envelope"></i> Inbox 
          <% if(user.message.newMessage >0) { %>
          <span class="badge badge-light"><%=user.message.newMessage%></span>
          <% } %>
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alerts"><i class="fas fa-exclamation-triangle"></i> Alerts 
          <% if(user.alert.newAlert >0) { %>
            <span class="badge badge-light"><%=user.alert.newAlert%></span>
            <% } %>
        </a>
      </li>
      
      
    </ul>
    <ul class="nav justify-content-end">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="<%= current.img%>" style="width:35px;height:35px"> <%= user.username%>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/profile/<%= current._id%>"><i class="fas fa-user"></i> Profile</a>
      <a class="dropdown-item" href="#"><i class="fas fa-tools"></i> Settings</a>
      <div>
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" id="logout" class="dropdown-item"><i class="fas fa-power-off"></i> Log Out</button>
        </form>
      </div>
     
      </div>
    </li>
</ul>
  </div>
</nav>

<!-- <button type="submit" style="background:transparent;border:none"></button> -->