<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
<link rel="stylesheet" href="/css/inbox.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <%- include('../includes/sidebar.ejs') %>


            <div id="messageBox" class="col-lg-6 offset-lg-2" style="background: white">
                    <div id="replayMessage" class="alert alert-success alert-dismissible fade show" role="alert" style="display:none">
                            <strong>Success!</strong> Message sent successfully.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                <p id="messageTtile">My Messages
                   </p>
                   <form action="/delete-inbox" method="POST" style="margin-bottom:20px;">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">  
                    <button class="btn btn-danger">Delete All</button>
              </form>
                <div class="messageWrapp">
                    <% for(var i = 0; i<message.length; i++) { %>
                    <div class="card border-dark mb-3">

                        <div class="card-header">From: <img src=" <%= message[i].from.img %>" style="width:40px;height:40px;">
                            <%= message[i].from.username %>
                        </div>
                        <div class="card-body text-dark">

                            <p class="card-text">
                                <%= message[i].send %>
                            </p>
                            <button class="btn btn-info sendReplayMessage">Replay</button>
                            <div class="replay" style="display:none;margin-top:20px;">
                                <div class="
                                form-group">
                                    <p>Send to:
                                        <%= message[i].from.username %>
                                    </p>
                                    <textarea id="replayMess" class="form-control" id="ControlTextarea1" rows="3"></textarea>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="messageID" value="<%= message[i]._id %>">
                                    <input type="hidden" name="userEmail" value="<%= message[i].from.email %>">
                                    <input type="hidden" name="mentionedTtext" value="<%= message[i].text %>">
                                    <button class="btn btn-primary sendReplay" style="margin-top:20px;">Send</button>
                                </div>

                            </div>

                        </div>
                    </div>
                    <% } %>
                </div>

            </div>
        </div>
    </div>




    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>